body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.movie-container {
  padding-top: 5rem;
}

.movie-container h1 {
  margin-bottom: 3rem;
}

.movies-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  min-height: 100vh;
}

.img-container {
  height: 15rem;
}

.movie-card .img-container img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
}