:root {
  --primary-color: #4aafbc;
  --secondary-color: #c13458;
  --light-color: #f8f7f2;
}

* {
  font-family: "Anonymous Pro", monospace;
  font-size: 16px;
}

h1 {
  font-size: 5rem;
}

h3 {
  font-size: 3rem;
}

a, a:hover, a:active, a:visited, a:focus {
    text-decoration:none;
    color: inherit;
}

.my-btn-primary {
  background-color: var(--primary-color);
  border: var(--primary-color);
  outline: none;
}

input:focus {
  outline: none;
}

#btn-reverse {
  background-color: var(--secondary-color);
  color: var(--light-color);
  outline: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.content-container {
  padding: 5rem;
}

/* navigation styles */

.my-navbar {
  background-color: var(--primary-color);
  display: flex;
  min-height: 2rem;
}

.navbar-logo {
  color: black;
  margin-left: 2rem;
  padding-top: 1rem;
  text-transform: uppercase;
}

.navbar-links {
  display: flex;
  flex-direction: row;
  list-style: none;
  color: black;
  padding-top: 1rem;
  cursor: pointer;
}

.my-nav-link {
  font-weight: bold;
  color: black;
  padding: 0 1rem;
  text-decoration: none;
}

.my-nav-link:click {
  text-decoration: none;
}


.fas.fa-bars {
  margin-left: auto;
  margin-right: 1rem;
  display: none;
  padding-top: 1rem;
}

.-link,
.-link:hover {
  text-decoration: none;
  color: inherit;
}

#display-menu {
  display: flex;
}

@media only screen and (max-width: 801px) {
  .fas.fa-bars {
    display: block;
    margin-bottom: 1rem;
}

.navbar-logo {
  display: none;
}

.navbar-links {
  flex-direction: column;
  text-align: right;
  width: 100%;
  margin-top: 2rem;
  display: none;
}

}

/* homepage styles */

.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: var(--light-color);
  height: 50vh;
  background: rgb(193, 52, 88);

}

.hero-img-container {
  height: 30rem;
  width: 30rem;
  position: absolute;
  right: 0;
  top: 100%;
}

.camera-img {
  background-blend-mode: darken;
  max-width: 100%;
  max-height: 100%;
}

.how-it-works h3 {
  color: black;
  font-family: "Racing Sans One";
}

.how-it-works {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
}

.home-boxes-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20rem;
  padding: 0 15rem 2rem 15rem;
}

@media only screen and (max-width: 801px) {
  .home-boxes-container {
    flex-direction: column;
    height: auto;
    padding: 2rem;
  }
}

@media only screen and (max-width: 500px) {
  .camera-img {
    display: none;
  }
}

.how-it-works-boxes {
  width: 12rem;
  height: 12rem;
  border-radius: 5px;
  /* border: 1px solid var(--primary-color); */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.number {
  font-size: 4rem;
  font-weight: bold;
  color: var(--secondary-color);
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.hero h1 {
  font-family: "Racing Sans One";
  color: var(--primary-color);
  text-decoration: underline;
}

/* catalogue styles */

.movie-container h1 {
  margin-bottom: 3rem;
}

.movies-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 25rem;
  grid-gap: 2rem;
  min-height: 100vh;
}

@media only screen and (max-width: 1441px) {
  .movies-grid {
    grid-template-columns: repeat(3, 1fr);
}
}

@media only screen and (max-width: 920px) {
  .movies-grid {
    grid-template-columns: repeat(2, 1fr);
}
}

@media only screen and (max-width: 650px) {
  .movies-grid {
    grid-template-columns: repeat(1, 1fr);
}
}


.img-container {
  height: 20rem;
  width: 15rem;
  margin: auto;
  margin-top: 1rem;
}

.movie-card:hover {
  -webkit-box-shadow: 7px 7px 16px -8px rgba(56, 56, 56, 1);
  -moz-box-shadow: 7px 7px 16px -8px rgba(56, 56, 56, 1);
  box-shadow: 7px 7px 16px -8px rgba(56, 56, 56, 1);
}

.movie-card {
  height: 25rem;
}

.img-container img {
  max-height: 100%;
  min-height: 100%;
  min-width: 100%;
  max-width: 100%;
  width: auto;
}

.card-text {
  font-weight: bold;
}

.list-group-item.my-active {
  background-color: var(--primary-color);
}


#sort {
  width: 50%;
}

.order-by {
  text-align: left;
  padding-left: 0.5rem;
}

@media only screen and (max-width: 650px) {
  .pagination {
    display: flex;
    justify-content: center;
}

.order-by {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-container {
  padding: 1rem;
  padding-top: 3rem;
}
}

/* movie page styles */

.movie-page-img-container {
  height: 30rem;
  width: 20rem;
}

@media only screen and (max-width: 801px) {
  .movie-page-img-container {
  height: 15rem;
  width: 10rem;
  margin: auto;
  margin-bottom: 2rem;
}

}

@media only screen and (max-width: 801px) {
  .movie-page-img-container {
  height: 12rem;
  width: 8rem;
}

}

.movie-page-img-container img {
  max-height: 100%;
  min-height: 100%;
  max-width: 100%;
  width: auto;
}

.movie-synopsis {
  width: 80%;
  text-align: center;
  margin: auto;
  margin-bottom: 5rem;
}

/* register and login styles */

.user-form-container {
  display: flex;
  align-items: center;
  height: 80vh;
}

.user-form {
  width: 30%;
  padding: 2rem;
  /* color: white; */
  margin: auto;
  background: rgb(193, 52, 88);
  background: linear-gradient(
    324deg,
    rgba(193, 52, 88, 1) 0%,
    rgba(74, 175, 188, 1) 100%
  );
  color: var(--light-color);
}

@media only screen and (max-width: 500px) {
  h3 {
    font-size: 2rem;
  }

  .user-form {
    width: 95%
  }

}

@media only screen and (max-width: 1005px) {
  .user-form {
    width: 80%;
    padding: 1rem;
  }


}

.user-form .input {
  width: 60%;
  margin: auto;
}

/* dashboard styles */

.movie-form-container {
  width: 50%;
  margin: auto;
  border: 1px solid black;
  border-radius: 5px;
  padding: 2rem;
}

.dash-column-left {
  border-right: 1px solid black;

}

@media only screen and (max-width: 1025px) {
  .dash-column-left {
  border-right: 0;
  margin-bottom: 3rem;

}

.movie-form-container {
  width: 90%;
}
}


/* 404 page styles */

.page-not-found-container {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


/* footer styles */

footer {
  height: 10rem;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}